* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: #023d6d;
  color: white;
  padding: .5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 5;
}
h2{
  margin: 2rem;
}

#add-movie{
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 1.5rem;
  color: #ffffff;
  background-color: rgb(249, 147, 75);
  position: relative;
  overflow: hidden;
}

#add-movie span{
  position: relative;
  z-index: 1;
}

#add-movie::before{
  content: "";
  background-color: orangered;
  width: 0;
  height: 0;
  position: absolute;
  top: var(--xPos);
  left: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width .5s, height .5s;
}

#add-movie:hover::before{
  width: 11rem;
  height: 11rem;

}

/* set up modal */
#backdrop{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -3rem;
  left: -3rem;
  background: rgba(68, 85, 102, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
  
}
#backdrop.visible{
  display: flex;
  pointer-events: all;
}
.modal{
  position: fixed;
  display: none;
  animation: fade-in .3s ease-in forwards;
  z-index: 100;
  background-color: #efefef;

}
.modal.visible{
  display: flex;
  animation: fade-in .3s ease-out backwards;
}

.container-modal-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

/* start text card  & movie display*/
.card{
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 1.2rem;
  border: 2px solid #aaa;
  box-shadow: 1px 2px 0 2px #aaa;
  padding: 1rem;
  margin: 0 auto;
}
.hidden{
  display: none;
}

.movie-element{
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
}

.movie-element h2,
.movie-element p{
  font-size: 1.25rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.movie-element__image{
  display: flex;
  width: 10rem;
  height: 10rem;
}
.movie-element__rating{
  color: white;
  background: rgb(249, 147, 75);
  
}
.delete-button{
  width: 2rem;
  height: 2rem;
  border: 1px solid red;
}

/* end text card & movie display*/

@keyframes fade-in {
  from {
      transform: translateY(-5rem);
      opacity: 0.5;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}


#save-movie{
background-color: green;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;
}

#btn--danger{
background-color: orangered;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;
}

#btn--passive {
  background-color: orangered;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;
}

.cancel{
  background-color: green !important;
}

.container-modal-delete{
  display: none;
  justify-content: center;
  align-items: center;
}

.visible{
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  padding: 2rem;
  box-shadow: 2px 6px 0 2px #efefef;
  margin: 3rem;
}
