* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: #023d6d;
  color: white;
  padding: .5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
h2{
  margin: 2rem;
}

#add-movie{
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 1.5rem;
  color: #ffffff;
  background-color: rgb(249, 147, 75);
}

/* set up modal */
.modal{
  display: none;
}
#save-movie{
background-color: green;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;
}

#remove-movie{
background-color: orangered;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;

}


.visible{
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid gray;
  padding: 2rem;
  box-shadow: 2px 6px 0 2px #efefef;
  margin: 3rem;
}