* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: #023d6d;
  color: white;
  padding: .5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 5;
}
h2{
  margin: 2rem;
}

#add-movie{
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 1.5rem;
  color: #ffffff;
  background-color: rgb(249, 147, 75);
}

/* set up modal */
#backdrop{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -2rem;
  left: -3rem;
  background: rgba(68, 85, 102, 0.75);
  z-index: -1;
  pointer-events: none;
  display: none;
}
#backdrop.visible{
  display: flex;
  pointer-events: all;
  z-index: -1;
}
.modal{
  display: none;
  animation: fade-in 3s ease-in forwards;
  z-index: 100;
  background-color: #efefef;

}
.modal.visible{
  display: fixed;
  animation: fade-in .3s ease-out backwards;
  z-index: 100;
}

@keyframes fade-in {
  from {
      transform: translateY(-10%);
      opacity: 0.5;
  }
  to {
      margin-right: 0px;
      opacity: 1;
  }
}


#save-movie{
background-color: green;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;
}

#cancel{
background-color: orangered;
color: #fefefe;
padding: .3rem;
margin: .5rem 0 0 0;

}


.visible{
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid gray;
  padding: 2rem;
  box-shadow: 2px 6px 0 2px #efefef;
  margin: 3rem;
}